<head>
</head>

<body>
    <h1>TP2 - inscription</h1>
    <form method="POST" action="inscription.php">
    <input type="text" name="pseudo" placeholder="pseudo" /><br />
    <input type="password" name="password" placeholder="Mot de passe" /><br />
    <input type="password" name="password2" placeholder="Mot de passe (confirmation)" /><br />
    <input type="text" name="email" placeholder="Email" />
    <button type="submit">Inscription</button>
</form>
</body>