<h1>Pré-requis</h1>

Liste des outils qui seront utilisés pendant ce cours.  

<h2>Système d'exploitation</h2>  
Le système d'exploitation n'est pas imposé, le développement Javascript est possible sur les 3 OS majeurs :  

<li>Linux</li>
<li>Windows</li>
<li>Mac OS</li>

<h2>Navigateur</h2> 
Le code Javascript a principalement vocation a être exécuté dans un navigateur Web.  
Les 2 navigateurs conseillés sont :  
<li>Chrome</li>  
<li>Firefox</li>

Il est recommandé d'avoir des versions à jour.

<h2>IDE</h2>
Même si le code écrit reste du texte simple et qu'il est donc possible de tout écrire à l'aide d'un éditeur texte basique,<br/>
l'Environnement de Développement Intégré permet d'être plus efficacement un code de meilleure qualité.<br />
L'IDE actuellement recommandé est <a href="https://code.visualstudio.com/">Visual studio code</a>.<br />
Une multitude d'alternatives sont disponibles. On citera en particulier <a href="https://atom.io/">Atom</a> et <a href="https://www.jetbrains.com/webstorm">Webstorm</a>.


