<head>
    <style>
        body {
            background-color: linen;
        }

        h1 {
            color: maroon;
            margin-left: 40px;
        }

        li:nth-child(even) {
            background-color: white;
        }
    </style>
</head>

<body>
    <h1>Exemple 2</h1>
    Ceci est un exemple.<br />
    Le web repose sur 3 technologies :<br />
    <li>Le HTML</li>
    <li><a id="JS" href="#" onclick="alert('Le Javascript c\'est cool !');return false;">Le CSS</a></li>
    <li>Le Javascript</li>
</body>
