





<head>
<script src="application.js"></script>
</head>
<body>
<input type="password" id="password"  /><br />
<input type="password" id="password2"  /><br />
<input type="button" onclick="verifierMotsDePasse()" value="Clique !" />
</body>
