<head>
    <script src="calculette.js"></script>
</head>

<body>
    <h1>TP1</h1>
    <input type="text" placeholder="2+2" id="calcul" oninput="calculer();"><br />
    <button onclick="calculer();">Calculer</button><br />
    <input type="text" placeholder="4" id="result" disabled="true">
</body>