<head>
        <script src="todolist2.js"></script>
    </head>
<body onload="initTableau();">
    <table id="taches" border="1">
        <tr>
            <th>Tâche</th>
            <th>Statut</th>
        </tr>
        <tr>
            <td>Chargement ...</td>
            <td>Chargement ...</td>
        </tr>
    </table>
    <button onclick="exporter();">Export JSON</button>
</body>