<head>
        <script src="todolist.js"></script>
    </head>
<body onload="initTableau();">
    <table id="taches" border="1">
        <tr>
            <th>Tâche</th>
            <th>Statut</th>
        </tr>
        <tr>
            <td>Chargement ...</td>
            <td>Chargement ...</td>
        </tr>
    </table>
</body>