<h1>Pré-requis</h1>

Liste des outils qui seront utilisés pendant ce cours.  

<h2>Système d'exploitation</h2>  
Le système d'exploitation n'est pas imposé, le développement PHP est possible sur les 3 OS majeurs :  

<li>Linux</li>
<li>Windows</li>
<li>Mac OS</li>

<h2>IDE</h2>
Même si le code écrit reste du texte simple et qu'il est donc possible de tout écrire à l'aide d'un éditeur texte basique,<br/>
l'Environnement de Développement Intégré permet d'être plus efficacement un code de meilleure qualité.<br />
Il est possible d'utiliser <a href="https://code.visualstudio.com/">Visual studio code</a>. Des plugins peuvent être installés en plus pour plus de confort.<br />
Une multitude d'alternatives sont disponibles. On citera en particulier <a href="https://atom.io/">Atom</a> et <a href="https://www.jetbrains.com/phpstorm/">PHPstorm</a>.

<h2>Environnement d'exécution (runtime)</h2> 
Il est nécessaire d'installer PHP et, pour plus de facilité, un serveur web sur la même machine (= en local) pour reproduire les conditions réelles.<br/>
Comme cette installation peut être fastidieuse, il existe des installateurs comportant tous les éléments nécessaires (et + encore).<br />
On propose d'utiliser <a href="https://www.apachefriends.org/fr/index.html">XAMPP</a> qui inclu (entre autres) :<br />
<li>PHP</li>
<li>Un serveur Web (apache)</li>
<li>Un panneau de contrôle</li>
Une fois XAMPP installé, on peut lancer le panneau de contrôle pour lancer / arrêter les différents services, en particulier le serveur Web (apache).<br />
Les fichiers PHP doivent être déposés dans le dossier DOSSIER_INSTALL_XAMPP/htdocs.<br />
Une fois le serveur lancé et les fichiers PHP en place, on peut y accéder via <a href="http://localhost">http://localhost</a>
